{% extends "base.html" %}
{% load autobreadcrumb %}

{% block head_title %}{% current_title_from_breadcrumbs %}{% endblock %}

{% block head_more_links %}
    <link rel="Stylesheet" title="Normal" media="screen" type="text/css" href="{{ STATIC_URL }}sveedocuments/css/pygments.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}sveedocuments/css/restructuredtext.css" type="text/css" />
{% endblock %}

{% block content %}
<h2>{% current_title_from_breadcrumbs %}</h2>

<div class="restructuredtext_container">
    {{ content|safe }}
</div>
{% endblock %}
