{% extends "base.html" %}
{% load i18n documents_utils autobreadcrumb %}

{% block head_title %}{% current_title_from_breadcrumbs %}{% endblock %}
{% block head_more_links %}
    <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}sveedocuments/css/forms.css" type="text/css" />
{% endblock %}
{% block body_attr %} class="fixed_width absolute_width"{% endblock %}

{% block content %}
<h2>{% current_title_from_breadcrumbs %}</h2>

<div>
{% pprint_recurse relations %}
</div>

<form action="." class="uniForm" method="post">
    {% csrf_token %}
    <div class="buttonHolder">
        <input type="submit" name="confirm_delete" value="{% trans "Confirm delete" %}" class="submit submitButton"/>
    </div>
</form>
{% endblock %}
