include MANIFEST.in
include LICENSE.txt
include README.rst
include sveedocuments/HELP.rst
recursive-include sveedocuments/templates *
recursive-include sveedocuments/static *
recursive-include sveedocuments/locale *
