{% extends "sveedocuments/board/subbase.html" %}
{% load i18n %}
{% load url from future %}

{% block board_menu_summary_active %} class="active"{% endblock %}

{% block board_content %}
    <div class="row">
        <div class="six columns">
            <div class="panel radius">
                <h3>{% trans "Pages" %}</h3>
                <p><span class="round label">{{ page_count }}</span> {% trans "saved" %}</p>
                <p><span class="round label">{{ page_hidden_count }}</span> {% trans "hidden" %}</p>
                
                <h4>5 {% trans "last pages revised" %}</h4>
                <ul class="square">{% for revised in page_last_revised %}
                    <li>
                        <p><strong><a href="{% url 'documents-page-edit' revised.slug %}">{{ revised.title }}</a></strong></p>
                        <p><em>{% if revised.comment %}{{ revised.comment }}{% else %}{% trans "Empty comment" %}{% endif %}</em></p>
                        <p>On {{ revised.modified }} by {{ revised.author.get_full_name }}</p>
                    </li>
                {% endfor %}</ul>
            </div>
        </div>
        <div class="six columns">
            <div class="panel radius">
                <h3>{% trans "Inserts" %}</h3>
                <p><span class="round label">{{ insert_count }}</span> {% trans "saved" %}</p>
                <p><span class="round label">{{ insert_hidden_count }}</span> {% trans "hidden" %}</p>
            </div>
        </div>
    </div>
{% endblock %}
