{% extends "sveedocuments/board/subbase_inserts.html" %}
{% load i18n djangocodemirror_inputs crispy_forms_tags autobreadcrumb %}

{% block head_more_links %}{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}sveedocuments/css/pygments.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/restructuredtext.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/ui/themes/smoothness/jquery-ui-1.8.17.custom.css">
{% endblock %}
{% block head_more_js %}
    {% get_current_language as LANGUAGE_CODE %}
    <script src="{{ STATIC_URL }}jquery/ui/jquery-ui-1.8.17.custom.min.js"></script>
    <script src="{{ STATIC_URL }}jquery/ui/jquery.ui.datepicker-fr.js"></script>
    <script src="{{ STATIC_URL }}jquery/plugins/jquery.slugify.js"></script>
    {{ form.media }}
    <script language="JavaScript" type="text/javascript">
    //<![CDATA[
    DCM_lang = "{{ LANGUAGE_CODE }}";
    $(document).ready(function() {
        $("#id_slug").slugify("#id_title");
        {% if insert_instance %}DJANGOCODEMIRROR_OBJECT = {
            'id': {{ insert_instance.id }},
            'slug': '{{ insert_instance.slug }}'
        };{% endif %}
    });
    //]]>
    </script>
    {{ form.content|djangocodemirror_init_input }}
{% endblock %}

{% block board_content %}
    <h2>{% current_title_from_breadcrumbs %}</h2>

    {% crispy form %}
{% endblock %}
