{% extends "sveedocuments/board/subbase_pages.html" %}
{% load i18n autobreadcrumb crispy_forms_tags %}
{% load url from future %}

{% block head_more_js %}{{ block.super }}
    <script language="JavaScript">
    //<![CDATA[
    $(document).ready(function() {
        $("#id_slug").slugify("#id_title");
    });
    //]]>
    </script>
{% endblock %}

{% block board_content %}
    {% if page_instance and page_instance.visible %}<a class="secondary button right" href="{% url 'documents-page-details' page_instance.slug %}">{% trans "View on site" %}</a>{% endif %}
    <h2>{% current_title_from_breadcrumbs %}</h2>
    
    {% include "sveedocuments/board/includes/page_form_subnav.html" with active_tab="attachments" %}
    
    <ul class="feed">{% for item in object_list %}
        <li>
            <p class="ago">{{ item.created|timesince }} ago - By <em>{{ item.author.get_full_name }}</em></p>
            <p><strong>{% trans "Title" %} :</strong> {{ item.title }}</p>
            <p><strong>{% trans "Slug" %} :</strong> {{ item.slug }}</p>
            <p>
                <a class="tiny round secondary button ui-open_blank" href="{{ item.file.url }}">{% trans "View" %}</a>
                <a class="tiny round alert button ui-open_blank" href="{% url 'documents-page-attachments-delete' slug=page_instance.slug pk=item.id %}">{% trans "Delete" %}</a>
            </p>
        </li>
    {% empty %}
        <li class="empty">{% trans "There is no attachments" %}</li>
    {% endfor %}</ul>
    
    <hr>
    
    <h3>{% trans "Add a new attachment" %}</h3>
    {% crispy form %}
{% endblock %}
